<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title>Gaurav Mali: {% if page.title %}{{ page.title }} {% endif %}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}"> {% endif %}
    <meta name="author" content="Gaurav Mali">
    <meta name="DC.Creator" content="Gaurav Mali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    {% if page.carousel %}<link rel="stylesheet" href="/css/bootstrap.min.css">{% endif %}
    <!--[if IE 7 ]><link rel="stylesheet" href="/css/ie7.css"><![endif]-->
    <!--[if IE 8 ]><link rel="stylesheet" href="/css/ie8.css"><![endif]-->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="/css/mobile.css" />

  </head>

  <body class="tk-depot-new">
    <div id="fb-root"></div>
    <div id="container">
      <header class="vcard">
        <a class="url fn logo" href="/" title="Gaurav Mali"><img alt="Gaurav Mali" src="/img/logo.png" /></a>
        <nav>
          <ul>
            <li class="thoughts"><a {% if page.thoughts %}class="current"{% endif %} href="/thoughts/" title="Thoughts"> Thoughts</a></li>
            <li class="apps"><a {% if page.apps %} class="current" {% endif %} href="/apps/" title="Apps"> Apps</a></li>
            <li class="contact"><a {% if page.contact %} class="current" {% endif %} href="/contact/" title="Contact"> Contact</a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
      <footer>
        <div id="social">
          <ul>
            <li class="twitter"><a href="http://www.twitter.com/G_Mali" title="@G_Mali" rel="nofollow"> Twitter</a></li>
            <li class="skype"><a href="skype:gaurav.mali.90?add" title="gaurav.mali.90" rel="nofollow"> Skype</a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/in/gauravmali" title="LinkedIn" rel="nofollow"> LinkedIn</a></li>
            <li class="forrst"><a href="http://forrst.me/GMali" title="G_Mali" rel="nofollow"> Forrst</a></li>
            <li class="github"><a href="http://github.com/GMali" title="GMali" rel="nofollow"> Github</a></li>
          </ul>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="http://use.typekit.com/yyd1epf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    {% if page.carousel %}<script src="/js/bootstrap.min.js"></script>{% endif %}
    <script src="/js/script.js"></script>

    <!--[if lt IE 7 ]>
      <script src="js/libs/dd_belatedpng.js"></script>
      <script>DD_belatedPNG.fix("img, .png_bg");</script>
    <![endif]-->

    {% if site.analytics %}
    <script>
      var _gaq=[["_setAccount","UA-9828304-3"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66486675); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66486675ns.gif" /></p></noscript>
    {% endif %}

  </body>
</html>
